<div class="text-center">
  <form [formGroup]="loginForm" (ngSubmit)="authenticate()" class="form-signing">
    <h1 class="h3 mb-3 font-weight-normal">Sign in, dude</h1>
    <label class="sr-only" for="usernameInput">Email address</label>
    <input id="usernameInput" formControlName="username" placeholder="Email address" class="form-control" />
    <label class="sr-only" for="passwordInput">Password</label>
    <input id="passwordInput" formControlName="password" type="password" placeholder="Password" class="form-control" />
    <button type="submit" [disabled]="!loginForm.valid" class ="btn btn-lg btn-primary btn-block">Submit</button>
  </form>
</div>
