.reload {
  height: 1.3rem;
}
.issue-container {
  padding: 8px 7px 4px 7px;
}
.issue-container:nth-child(even) {
    background: #f3f4f5;
}
.issue-container:nth-child(odd) {
    background: #ebeced;
}
