<div class="container-fluid">
  <div class="row">
    <div class="col-xl-9">
      <h2>Working week log <a (click)=listWorkingDayLogsForWeek()><img alt="reload" src="../assets/refresh-icon-png-4.jpg" class="reload" /></a>
    </h2>
    </div>
    <div class="col-3 align-right">
      <select class="custom-select d-block w-100" (change)="setWeek($event.target.value)">
        <option *ngFor="let week of weeks" value="{{week.weekNumber}}">{{week.period}}</option>
      </select>
    </div>
  </div>
  <div class="container-fluid">
    <ng-container *ngFor="let dayLog of dayLogs | keyvalue">
      <div class="week-container">
        <app-gap [dayLog]="dayLog.value" ></app-gap>
      </div>
    </ng-container>
  </div>
</div>
