<div class="card-deck mb-3">
  <div class="card week-no-card border-0 bg-header text-dark small mr-0">
    <div class="card-body week-no-body">
      <div class="card-text">
        {{weekLog.weekNumber}}.
      </div>
    </div>
  </div>

  <div *ngFor="let skipped of skippedWorkingDays(weekLog)" class="card bg-transparent border-light mr-2 ml-2">
  </div>

  <ng-container *ngFor="let dayLog of weekLog.dayLogs">
    <div class="card h-100 mr-2 ml-2" [ngClass]="{
      'border-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
      'border-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged === dailyWorkingHours),
      'border-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged < dailyWorkingHours),
      'border-secondary': (dayLog.dayOfWeek > 5 && dayLog.hoursLogged === 0)
    }">
      <app-calendar-item [dayLog]="dayLog" (newEntryEmitter)="timeLogged($event)"></app-calendar-item>
    </div>
  </ng-container>

  <div *ngFor="let skipped of missingWorkingDays(weekLog)" class="card bg-transparent border-light mr-2 ml-2">
  </div>

  <div class="card week-sum-card border-0 bg-header text-right ml-0">
    <div class="card-body week-sum-body">
      <h6 class="card-text" [ngClass]="{
          'text-danger' : (weekLog.hoursLogged < (weekLog.numberOfWorkingDays * dailyWorkingHours)),
          'text-primary': (weekLog.hoursLogged > (weekLog.numberOfWorkingDays * dailyWorkingHours)),
          'text-success': (weekLog.hoursLogged === (weekLog.numberOfWorkingDays * dailyWorkingHours))
        }">
        {{weekLog.hoursLogged | number:'1.2-2'}}h
      </h6>
    </div>
  </div>
</div>
