<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="username; else login">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Redmine can be sexy, {{username}}</h5>
    <div class="my-2 my-md-0 mr-md-3">
      <a (click)="logout()" class="btn btn-outline-primary">Logout</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<ng-template #login>
  <app-login></app-login>
</ng-template>
