<div *ngIf="username; else login">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Redmine can be sexy, {{username}}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a routerLink="/issues" class="p-2 text-dark">Issues</a>
      <a routerLink="/week" class="p-2 text-dark">Week</a>
      <a class="p-2 text-muted" disabled="true">Gaps</a>
      <a routerLink="/settings" class="p-2 text-dark">Settings</a>
      <a (click)="logout()" class="btn btn-outline-primary">Logout</a>
    </nav>
  </div>
  <app-messages></app-messages>
  <router-outlet></router-outlet>
</div>
<ng-template #login>
  <app-login (username)="setUsername($event)"></app-login>
  <app-messages></app-messages>
</ng-template>
