<div class="container-fluid">
  <!-- <div class="row">
    <div class="col">Spent on</div>
    <div class="col">Hours</div>
    <div class="col">Activity</div>
    <div class="col-lg-6">Comments</div>
  </div> -->
  <div class="row" *ngFor="let entry of entries.time_entries" [class.newEntry]="entry.isNew" >
    <div class="col" *ngIf="showDate">{{entry.spent_on}}</div>
    <div class="col-4" *ngIf="showIssue">{{getIssueSubject(entry.issue.id)}}</div>
    <div class="col-1 text-right">{{entry.hours | number:'1.2-2'}}</div>
    <div class="col-2">{{entry.activity.name}}</div>
    <div class="col-lg-7" *ngIf="showDate">{{entry.comments}}</div>
    <div class="col-lg-5" *ngIf="showIssue">{{entry.comments}}</div>
  </div>
</div>
