<div class="card-body">
  <h5 class="card-title" [ngClass]="{
    'text-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
    'text-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged == dailyWorkingHours),
    'text-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged < dailyWorkingHours),
    'text-secondary': (dayLog.dayOfWeek > 5 && dayLog.hoursLogged == 0)
  }">{{dayLog.date}}</h5>
  <div class="card-text">
    TODO timeEntries
  </div>
  <div class="card-footer text-white" [ngClass]="{
    'bg-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
    'bg-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged == dailyWorkingHours),
    'bg-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged < dailyWorkingHours),
    'bg-secondary': (dayLog.dayOfWeek > 5 && dayLog.hoursLogged == 0)
  }">
    Total: <span>{{dayLog.hoursLogged}}</span>
  </div>
</div>
