<div class="card-body" (click)="showModal()" style="cursor: pointer" >
  <h5 class="card-title" [ngClass]="{
    'text-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
    'text-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged === dailyWorkingHours),
    'text-warning': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged > 0 && dayLog.hoursLogged < dailyWorkingHours),
    'text-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged === 0 && !dayLog.isInFuture),
    'text-secondary': ((dayLog.dayOfWeek > 5 && dayLog.hoursLogged === 0) || (dayLog.isInFuture && dayLog.hoursLogged === 0 && dayLog.dayOfWeek < 6))
  }">{{dayLog.date}}</h5>
  <p class="card-text">
    <span *ngFor="let entry of timeEntries" class="small d-block text-truncate">{{entry.hours}}h&nbsp;<app-issue-label [issueId]="entry.issue.id"></app-issue-label></span>
  </p>
</div>
<div class="card-footer text-white bottom-align-text" [ngClass]="{
  'bg-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
  'bg-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged === dailyWorkingHours),
  'bg-warning': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged > 0 && dayLog.hoursLogged < dailyWorkingHours),
  'bg-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged === 0),
  'bg-secondary': (dayLog.dayOfWeek > 5 && dayLog.hoursLogged === 0),
  'bg-light' : (dayLog.isInFuture && dayLog.hoursLogged === 0 && dayLog.dayOfWeek < 6),
  'text-secondary' : (dayLog.isInFuture && dayLog.hoursLogged === 0 && dayLog.dayOfWeek < 6)
}">
  Total: <span>{{dayLog.hoursLogged}}</span>
</div>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <app-gap [dayLog]="dayLog" [showLog]="true" (newEntryEmitter)="timeLogged($event)"></app-gap>
      </div>
    </div>
  </div>
</div>
