<div class="row">
  <a (click)="toggleLog()" style="cursor: pointer" class="col-4"><h5>{{utils.formatDayOfWeek(dayLog.dayOfWeek)}} {{dayLog.date}}:</h5></a>
  <a (click)="toggleLog()" style="cursor: pointer" class="col-1 text-right" [ngClass]="{'text-danger' : (dayLog.hoursLogged < dailyWorkingHours), 'text-primary': (dayLog.hoursLogged > dailyWorkingHours), 'text-success': (dayLog.hoursLogged == dailyWorkingHours)}">{{dayLog.hoursLogged | number:'1.2-2'}}</a>
  <a (click)="toggleLog()" style="cursor: pointer" class="col-5"></a>
  <a class="col-2 text-right" (click)="toggleLogTime()" style="cursor: pointer">
    <span *ngIf="showNewLogForm; else hideLogTime">Logged</span>
    <ng-template #hideLogTime><span>Record log</span></ng-template>
  </a>
</div>
<div class="row" *ngIf="showNewLogForm">
  <app-daily-time-entry class="col-xl" [day]="dayLog.date" [issues]="issues" (newEntry)="timeLogged($event)"></app-daily-time-entry>
</div>
<div class="row" *ngIf="showLog">
  <app-time-entries class="col-xl" [entries]="dayLog.timeEntries" [showIssue]="true" [issues]="issues" [showDate]="false" ></app-time-entries>
</div>
