.reload {
  height: 1.3rem;
}
.bg-header {
  background-color: #ebeced;
}
.week-no-card {
  max-width: 31px;
}
.week-no-body {
  padding: 0.35rem;
}
.week-sum-card {
  max-width: 70px;
}
.week-sum-body {
  padding: 0.41rem;
}
