<div class="container-fluid">
  <div class="row">
    <div class="col-xl-10">
      <h2>Montly log <a (click)=listWorkingWeekLogs()><img alt="reload" src="../assets/refresh-icon-png-4.jpg" class="reload" /></a></h2>
    </div>
    <div class="col-2 align-right">
      <select class="custom-select d-block w-100" (change)="setMonth($event.target.value)">
        <option *ngFor="let month of months()">{{month}}</option>
      </select>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="card-deck mb-2 text-dark small">
      <div class="card week-no-card border-0 mr-0">
      </div>

      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Monday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Tuesday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Wednesday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Thursday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Friday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Saturday</h6>
        </div>
      </div>
      <div class="card border-0 bg-header mr-2 ml-2">
        <div class="card-body">
          <h6 class="card-text">Sunday</h6>
        </div>
      </div>

      <div class="card week-sum-card border-0 ml-0">
      </div>
    </div>

    <div *ngFor="let weekLog of weekLogs" class="card-deck mb-3">

      <div class="card week-no-card border-0 bg-header text-dark small mr-0">
        <div class="card-body week-no-body">
          <div class="card-text">
            {{weekLog.weekNumber}}.
          </div>
        </div>
      </div>

      <div *ngFor="let skipped of skippedWorkingDays(weekLog)" class="card bg-transparent border-light mr-2 ml-2">
      </div>

      <ng-container *ngFor="let dayLog of weekLog.dayLogs">
        <div class="card h-100 mr-2 ml-2" [ngClass]="{
          'border-primary': ((dayLog.dayOfWeek < 6 && dayLog.hoursLogged > dailyWorkingHours) || dayLog.dayOfWeek > 5),
          'border-success': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged == dailyWorkingHours),
          'border-danger': (dayLog.dayOfWeek < 6 && dayLog.hoursLogged < dailyWorkingHours),
          'border-secondary': (dayLog.dayOfWeek > 5 && dayLog.hoursLogged == 0)
        }">
          <app-calendar-item [dayLog]="dayLog" ></app-calendar-item>
        </div>
      </ng-container>

      <div *ngFor="let skipped of missingWorkingDays(weekLog)" class="card bg-transparent border-light mr-2 ml-2">
      </div>

      <div class="card week-sum-card border-0 bg-header text-right ml-0">
        <div class="card-body week-sum-body">
          <h6 class="card-text" [ngClass]="{
              'text-danger' : (weekLog.hoursLogged < (weekLog.numberOfWorkingDays * dailyWorkingHours)),
              'text-primary': (weekLog.hoursLogged > (weekLog.numberOfWorkingDays * dailyWorkingHours)),
              'text-success': (weekLog.hoursLogged == (weekLog.numberOfWorkingDays * dailyWorkingHours))
            }">
            {{weekLog.hoursLogged | number:'1.2-2'}}h
          </h6>
        </div>
      </div>
    </div>
  </div>
<!--</div> -->
