<div class="container-fluid">
  <div class="row">
    <div class="col-xl">
      <h2>Your settings</h2>
    </div>
  </div>
  <div class="row mt-3 ml-0 mb-3 align-items-center">
    <div class="col-xl-12 align-items-center">
      <h5>Log time form defaults</h5>
    </div>
  </div>
  <div class="row mt-3 ml-2 mb-3  align-items-center">
    <div class="col align-items-center">
      <label for="defaultActivityName">Default activity:</label>
    </div>
    <div class="col">
      <select id="defaultActivityName" [(ngModel)]="settings.defaultActivityName" class="custom-select d-block w-100" >
        <option *ngFor="let activity of activities" value="{{activity.name}}">{{activity.name}}</option>
      </select>
    </div>
    <div class="col-xl-8">
    </div>
  </div>
  <div class="row mt-3 ml-2 mb-3 align-items-center">
    <div class="col align-items-center">
      <label for="defaultHours">Hours spent on activity:</label>
    </div>
    <div class="col">
      <input id="defaultHours" type="number" [(ngModel)]="settings.defaultHours" min="0.25" max="8" step="0.25" class="form-control"/>
    </div>
    <div class="col-xl-8">
    </div>
  </div>
  <div class="row ml-0 mb-3 align-items-center">
    <div class="col-xl-12 align-items-center">
      <h5>Global settings</h5>
    </div>
  </div>
  <div class="row mt-3 ml-2 mb-3 align-items-center">
    <div class="col align-items-center">
      <label for="dailyWorkingHours">Working hours per day:</label>
    </div>
    <div class="col">
      <input id="dailyWorkingHours" type="number" [(ngModel)]="settings.dailyWorkingHours" min="2" max="8" step="1" class="form-control"/>
    </div>
    <div class="col-xl-8">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4">
    </div>
    <div class="col-xl ml-5">
      <button type="submit" (click)="save()" class="btn btn-lg btn-primary">Save</button>
    </div>
  </div>
</div>
